<div class="text-center"><h1 class="one">Hobbies</h1></div>


 <div class="text-center"><img src="http://vignette2.wikia.nocookie.net/finalfantasy/images/a/aa/Final_Fantasy_XV_Logo.png/revision/latest?cb=20130625082542" width="700"></div>


<div class="container">
    <div class="row">
        <div class="col-md-12">
            <p>
                My Main Hobbies are to play video games which mainly are Final Fantasy, Counter-Strike Global Offensive, Tom Clancy The Divison and Star Wars BattleFront. I also like to watch many movies which vary from action to Sci-Fi to Action.</p>
            <div>
            </div>

            <div>
                <div class="col-md-6">
                    <h1>Video Games</h1>
                    <p>My favorite Hobbies is to play Video Games which are mainly Final Fantasy, Counter-Strike Global Offensive,Tom Clancy The Division, Kingdom Hearts 3</p>
                    <img src="http://www.corsair.com/~/media/Corsair/Blog/2015-03/CSGO%20Mouse%20Sensitivity/cs.jpg?la=en-AU" width="300">
                </div>
            </div>
            
            <div>
                <div class="col-md-6">
                    <h1>Code</h1>
                    <p>My side Hobbies is to code and build websites, I mainly practice to become better at coding everyday and try to learn new skills that will help me build better websites.</p>
                    <img src="http://uxrepo.com/static/icon-sets/font-awesome/svg/code.svg" width="300">
                </div>
            </div>


        </div>

    </div>
</div>