<h1 class="three"><center>Mather High School</center></h1>

    <div class="row">
    <center><img src="https://assets.dnainfo.com/generated/chicago_photo/2013/01/mather-high-school-1358888687.JPG/larger.jpg"></center>
    </div class="col-md-6">
        <br>
    
    <div class="row">
        <h1>About Us </h1>
        <p>Mather High School is a great school for students who want to achieve something great in the coming futures. The School offers many programs from clubs 
        to school activites. Education at this school is great for students who work hard to achieve something great for themselves, they offer Honors, Advance Placement (AP) classes
        for students who want to try some thing hard. In the end the school is great and has great teachers for each subject and great staff members that are all helpful. </p>
    </div>
    <div class="row">
        <div class="col-md-12">
             <h1 class="text-center">Houses At Mather</h1>
        </div>
    </div>
        <div class="row">
            
            <div class="col-md-3">
                <h1 class="code">Tech House</h1>
                <p>The Tech House is great for students who are into Technology and mainly into building computers, Websites, Gaming and Computer Science its for 
                people who have a interest towards Computers and Techonolgy.</p>
            </div>
            
            <div class="col-md-3">
                <h1 class="health"> Health And Wellness</h1>
                <p>The Health and Wellness is great for students who are into the technology field and are Doctors, Surgeons, Nurses, Pediatricians, and also
                Medical Examiners who want to main be in the Medical Field in the coming future.</p>
        
            </div>
            
            <div class="col-md-3">
                <h1 class="law">
                    Law House
                </h1>
                <p>The Law house is great for students who are into the Law field which is mainly Law Enforcement like being a Police Officer, FBI agent, Lawyer and a secret 
                investigator which is grate for people who want to protect and serve their people and make a safe enviorment for everyone.</p>
            </div>
            
            <div class="col-md-3">
                <h1>Global Studies</h1>
                
                <p>World Studies is great for students who are into learning about the world and wanna learn about the countries and World studies is mainly towards about the world and learning
                about how it works different from america</p>
                
            </div>
        
    </div>

<p></p>