<center class="four"><h1>Personal</h1></centers>

    <img src="https://www.colorado.com/sites/default/master/files/styles/media-player-large/public/MtnBike1_Fruita_MI.jpg?itok=3W2QevFH" width="500"> 


    <div class="row">
        <div class="col-md-2">
            
        </div>
        
        <div class="row">
        <div class="col-md-8">
            <h1 class="five">About me</h1>
           <p class="six"> My name is Rahman Khan, I'm a nice, Hardworking, creative person who wants to help the world in a way to make it a much better place then
           how it is right now. I have interests in computers, I like to play video games, and go on bike rides with friends on a bike trail, I like to help
           people and be a courageous person. I maintain my grades by working hard and studying to keep myself on track.</p>
        </div>
          <div class="col-md-2">
            
        </div>
    </div>
        <div>
            
        </div>
    </div>
    



    