<div class="text-center"><h1 class="two">Sports</h1></div>
    
    
    <center><img src="http://centrio.jehzeellaurente.netdna-cdn.com/wp-content/uploads/2015/11/Denver-Broncos-vs-Chicago-Bears-NFL.jpg" width="800"></center>
    <br>
    
    
    
    <div class="container">
        
        <div class="row">
            
            
            
                <div class="col-md-4">
                <h1 class="key">Football</h1>
                <p>Football is probally my favorite sport, I probally play this more than any other sports, I always play with a bunch friends where we 
                each have one captain who picks players and from their we start playing.</p>
            </div>
                
            
            <center><div class="col-md-5">
                <h1>Basketball</h1>
                <p>Basketball is a sport that I enjoy watching, but is not something I play time to time but mostly I like watching basketball </p>
            </div>
           
            
            <div class="col-md-3">
                <h1>Tennis</h1>
                <p> Tennis is a sport I enjoy to play time to time but is not always my favorite sport to play I enjoy playing with friends from time to time
                but I find Tennis really fun when it gets serious.</p>
            </div>
            
        </div>
    </div>
       